@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Thin.ttf');
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Light.ttf');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
}

.shift {
  margin-top: -100px;
  padding-top: 10px;
  background: #f8f9fa;
}

header.index-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/index-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.about-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/about/about-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.works-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/works/works-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.blog-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/blog/blog-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.contacts-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/contacts/contacts-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}

.card-bg-1 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../assets/img/index/card-1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border: 0
}
.card-bg-2 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../assets/img/index/card-2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border: 0
}
.card-bg-3 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../assets/img/index/card-3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border: 0
}

.card-bg-4 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url('../assets/img/calc/calc.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  border: 0
}

.card-bg-1:hover,
.card-bg-2:hover,
.card-bg-3:hover,
.card-bg-4:hover {
  background-position: top right;
}

.card-works-bg {
  transition: background-position 2s;
  cursor: pointer;
}


.dropdown-item{
  cursor: pointer;
}
.dropdown-item img{
  height: 50px;
}
.win-2 {
  background-image: url('../assets/img/calc/okno_2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 0;
  height: 53px;
  width: 44px;
}
.win-3 {
  background-image: url('../assets/img/calc/okno_3.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 0;
  height: 53px;
  width: 64px;
}
.win-4 {
  background-image: url('../assets/img/calc/okno_4.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border-radius: 0;
  height: 53px;
  width: 44px;
}

.price {
  border: 1px solid lightgrey;
  background-color: #2b2b2bb6;
}

.content {
  padding-bottom: 70px;
}

.text-justify {
  text-align: justify;
}